.startImg {
  width: 100%;
}

#home {
  padding-bottom: 10%;
}

#projects {
  margin-top: 15%;
  padding-bottom: 15%;
}



h2 {
  font-family: Verdana;
  font-size: 8rem !important;
}

.intro2 {
  font-family: Verdana;
  font-size: 2rem !important;
}

.intro1, .intro2 {
  text-align: center;
  padding: 3%;
  padding-bottom: 13%;
}

.w3-col.l3.m6.w3-margin-bottom {
  padding: 1%;
}

footer {
  text-align: center;
}

.socials {
  font-size: 5rem;
  padding: 1%;
}

.w3-container.w3-black {
  padding: 2%;
}

.imageFull {
  max-width: 100%;
  max-height: 100%;
}

.modalsHead, .modalsText {
  text-align: center;
}

.nelaImg {
  border: 1px solid;
  box-shadow: 10px 10px black, 20px 20px grey, 30px 30px #DADADA;
}

.oneWindow {

}



@media (max-width: 992px) {
  .navbar {
    font-size: 2rem ;
  }
}
